<!--<p>posts - works!</p> -->



<div>
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="&#61442;  Start searching for a hero by id or name or country">
 <table border= "1">
  <tr>
    <th>Task</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Server</th>
    <th>Status</th>

  </tr>
  <tr *ngFor="let item of data ">
    <td>{{item.task}}</td>

  <td  >{{item.startdate}}</td>
    <td>{{item.enddate}}</td>
    <td>{{item.server}}</td>


<td  >{{item.status}}</td>

<!--    <td *ngIf="item.status == 'WARNING'" style="background-color: chocolate;">{{item.status}}</td>
  <td *ngIf="item.startdate == tDate" style="background-color: green;">{{item.startdate}}</td>

ng-if="{{date == DateTime | date : "dd/MM/yyyy"}}"
ng-if="{{date == DateTime | date : "yyyy/MM/dd"}}"
*ngIf="{{date == DateTime}}"
<div *ngIf="(todaysdate | date:'MMM dd' == duedate | date:'MMM dd')">
-->
  </tr>

 </table>
</div>
