
    .newonboard{

        color: black;
        background-color: rgb(192, 235, 129);
        height: 4cm;

      }
    .sp{

      color: black;
      background-color: aquamarine;
      height: 4cm;

      }
    .cgrid{

      color: black;
      background-color: bisque;
      height: 4cm;
    }
    .ogrid{

      color: black;
      background-color: cadetblue;
      height: 4cm;
    }

    .rfaccess{

      color: black;
      background-color: rgb(160, 92, 160);
      height: 4cm;
    }
    .afaccess{

      color: black;
      background-color: rgb(104, 179, 182);
      height: 4cm;
    }
.rorder{

      color: black;
      background-color:rgb(226, 151, 60);
      height: 4cm;
    }

    .dorder{

      color: black;
      background-color:rgb(164, 214, 88);
      height: 4cm;
    }

      .dnpm{

      color: black;
      background-color :rgb(143, 185, 143);
      height: 4cm;
    }
    mat-card-title{
    color:black;
    font-size:20px;

    }
    mat-card-subtitle{
      font-size:50px;
      padding: 20px;
    }
