<p>cards works!</p>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">




  <mat-card fxFlex="33" class="newonboard">
    <mat-card-header>
      <mat-card-title>
        New Onboard
      </mat-card-title>
      <mat-card-subtitle>
        {{onboard}}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>


  <mat-card fxFlex="33" class="sp">
    <mat-card-header>
      <mat-card-title>
      Create SharePointOnline
      </mat-card-title>
      <mat-card-subtitle >
        {{sharepointdata}}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>


  <mat-card fxFlex="33" class="cgrid">
    <mat-card-header>
      <mat-card-title>
      CREATE GRIDCARD
      </mat-card-title>
      <mat-card-subtitle>
        {{cgridcard}}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>


</div>


<br>
<mat-divider> </mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

<mat-card fxFlex="33" class="afaccess">
  <mat-card-header>
    <mat-card-title fx>
      Npm Add-FullAccess
    </mat-card-title>
    <mat-card-subtitle>
      {{addfullaccess}}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card fxFlex="33" class="rfaccess">
  <mat-card-header>
    <mat-card-title>
      Npm Remove-FullAccess
    </mat-card-title>
    <mat-card-subtitle>
      {{removefullaccess}}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card fxFlex="33" class="ogrid">
  <mat-card-header>
    <mat-card-title>
      Order Gridcard
    </mat-card-title>
    <mat-card-subtitle>
      {{ogridcard}}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
</div>


<br>
<mat-divider> </mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <mat-card fxFlex="33" class="rorder">
    <mat-card-header>
      <mat-card-title fx>
        RMA OrderResource
      </mat-card-title>
      <mat-card-subtitle>
        {{orderresource}}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card fxFlex="33" class="dnpm">
    <mat-card-header>
      <mat-card-title>
      Dispose Npm
      </mat-card-title>
      <mat-card-subtitle>
        {{disposenpm}}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card fxFlex="33" class="dorder">
    <mat-card-header>
      <mat-card-title>
        RMA DisposeResource
      </mat-card-title>
      <mat-card-subtitle>
        {{disposeresource}}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
